body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: #1e1e1e;
  border: 1px solid #333333;
  padding: 10px;
  width: 400px;
  height: 300px;
  text-align: left;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #555555;
}

.pokemon-thumbnail{
  width: 90px;
  height: auto;
  display: block;
}

.card-title {
  text-align: right;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 5%;
}

.card-content {
  flex-grow: 1; 
  overflow-y: auto;
  padding-top: 5px;
  padding-left: 16px;
}

.card-info p {
  margin: 5px 0;
}

.card-abilities {
  margin-top: 10px;
}

.card-abilities ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-abilities li {
  background-color: #2a2a2a;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #444444;

}
